@model IEnumerable<WebInquirer.Models.Tests>

@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h2>Добро пожаловать!</h2>
    <p class="lead">Выберите и пройдите любой понравившийся вам опрос</p>
</div>

<div class="row">

@foreach (var item in Model)
{
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.name)</h2>
        <p>
            @Html.DisplayFor(modelItem => item.description)
        </p>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Pass", new { id = item.id })">Пройти &raquo;</a>
        </p>
    </div>
}
</div>